# file path/types that are not added to the repo with a merge
**/bin/
**/obj/
**/target/
**/packages/
**/TestResults/

# Artifacts from a merge
*.orig

*.dbmdl
*.vssscc
*.vspscc
*.user
*.log
*.dbmdl


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Power BI files
*.pbix
**/.pbi/localSettings.json
**/.pbi/cache.abf

# Visual Studio 2015 cache/options directory
.vs/
